<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--     for single content                                   
    <h1>hii i am profile my name is <%=name %></h1> -->


    <h1> hii i am from ejs <br> <%=name %></h1>
   
    <ul>
        <% data.skills.forEach(function(item){%>
               <li><%=item%></li>
        <%})%>
    </ul>
</body>
</html>